@import '../../styles/base.less';

:host{
  background-color: @color-bg;
}

.home {
  &-tabPane{
    // border-radius: 5px;
    // background-color: #fff;
    // box-sizing: border-box;
    // padding: 5px;
    &-container{
      background-color: transparent;
      .header-banner-outer{
        padding: 10px;
      }
      .inner{
        border-radius: 10px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 7px 24px;
      }
    }
  }
  &-location{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: center;
    &.destination{
      text-align: end;
    }
    .destination-name, .departure-name{
      font-size: 16PX;
      margin-top: 10px;
      font-weight: bold;
      letter-spacing: 1px;
    }
    .departure-label, .destination-label{
      color: #ccc;
      font-size: 20px;
    }
  }
  &-location-exchange{
    display: flex;
    justify-content: center;
  }
  &-location-icon{
    height: 64px;
    width: 64px;
  }
  .ticket-scroll-list{
    height: calc(100vh - 230px);
    box-sizing: border-box;
    border-radius: 10px;
    //padding-left: 10px;
    //padding-right: 10px;
  }
  .modal-container{
    padding: 0 10px;
  }
  .modal-content-item{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal-btn{
    letter-spacing: 5px;
    background-color: @color-theme !important;
    color: #fff !important;
  }
  .modal-qr-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .modal-qr-tips{
      color: #999;
    }
  }
  .modal-image-container{
    display: flex;
    justify-content: center;
  }
}
